@media (max-width: 375px) {
  body {
    align-items: center;

  }

  header {
    gap: 0px;
    height: 72px;
    justify-content: unset;

  }

  .header-wrapper {
    margin-left: 24px;

  }

  .menu-icon {
    display: block !important;
    position: absolute;
    right: 0;
    margin: calc(36px - 18px);
    height: 18px;
    width: 27px;
    color: rgb(61, 43, 43);
  }

  nav {
    display: flex;
    flex-direction: column;
    background-color: var(--white-200);
    padding: 20px;
    position: absolute;
    right: 0;
    top: 79px;
    gap: 25px;

  }

  .nav-wrapper {
    flex-direction: column;

  }

  #menu {
    display: none;
  }

  main {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 48px;
    width: 343px;

  }

  .text-wrapper {
    width: 343px;

  }

  main>img {
    width: 282px;
    height: 275px;

  }

  span {
    gap: 12px;

  }

  h1 {
    font-size: 24px;
    line-height: 32px;

  }

  .button-wrapper {
    margin-top: 0px;

  }

  section {
    gap: 20px;

  }

  article {
    height: 2300px;

  }

  article>h1 {
    padding-bottom: 0px;

  }

  .experiences {
    height: 1446px;

  }

  .skills-wrapper {
    gap: 20px;

  }

  .skills-wrapper>div {
    width: 157px;
    height: 157px;
    border: 2px solid var(--black-200);
  }

  .tittle-card {
    flex-direction: column;
    align-items: unset;
    gap: 30px;
    width: 295px;

  }

  .cards-wrapper {
    width: 343px;
    height: 426px;
    padding: 0px;

  }

  .cards-wrapper>p {
    width: 295px;

  }

  .projects {
    width: 100%;
  }

  .img-wrapper>img {
    width: 100%;
    height: max-content;
  }
  .img-wrapper {
    width: 91%;
    flex-direction: column;

  }
  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: unset;
  }
}