@media (max-width: 375px) {
  body {
    align-items: center;

  }

  header {
    gap: 0px;
    height: 72px;
    justify-content: unset;

  }
  header>img{
    cursor: pointer;

  }

  .header-wrapper {
    margin-left: 24px;

  }

  .menu-icon {
    display: block !important;
    position: absolute;
    right: 0;
    margin: calc(36px - 18px);
    height: 18px;
    width: 27px;
    color: rgb(61, 43, 43);
  }

  nav {
    display: flex;
    flex-direction: column;
    background-color: var(--white-200);
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 79px;
    gap: 25px;

  }
  nav>div {
    gap: 25px;

  }

  a {
    font-size: 16px;
    line-height: normal;

  }

  button {
    height: unset;
    padding: 10px 16px 10px 16px;
    font-size: 16px;

  }

  .nav-wrapper {
    flex-direction: column;

  }

  #menu {
    display: none;
  }

  main {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 48px;
    width: 91%;

  }

  .text-wrapper {
    width: 91%;

  }

  main>img {
    width: 76%;
    height: 275px;

  }

  span {
    gap: 12px;

  }

  h1 {
    font-size: 24px;
    line-height: 32px;

  }

  .button-wrapper {
    margin-top: 0px;

  }

  section {
    gap: 20px;

  }

  article {
    height: 2300px;

  }

  article>h1 {
    padding-bottom: 0px;

  }

  .experiences {
    height: 1560px;

  }

  .skills-wrapper {
    gap: 20px;

  }

  .skills-wrapper>div {
    width: 157px;
    height: 157px;
    border: 2px solid var(--black-200);
  }

  .tittle-card {
    flex-direction: column;
    align-items: unset;
    gap: 30px;
    width: 91%;

  }

  .cards-wrapper {
    width: 91%;
    height: 440px;
    padding: 0px;

  }

  .cards-wrapper>p {
    width: 91%;

  }

  .projects {
    width: 100%;
  }

  .img-wrapper>img {
    width: 100%;
    height: max-content;
  }

  .img-wrapper {
    width: 91%;
    flex-direction: column;

  }

  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: unset;
  }
  .contacts{
    flex-direction: column;
    width: 91%;
    gap: 84px;
  }
  form {
    width: 100%;

  }
  form>.button-wrapper{
    flex-wrap: wrap;

  }
  .button-wrapper>button{
    margin-right: 54%;
    height: 53px;

  }
  h3 {
    font-size: 20px;
    line-height: 28px;

  }
}