* {
    transition: all .13s ease-in;

}

a {
    cursor: pointer;
}

a:hover {
    color: var(--gray-200);
    text-decoration: underline;
}


.social-media:hover {
    background-color: var(--black-200);
}
.social-media:hover path{
    fill: var(--white-100);

}
button:hover {
    background-color: var(--white-100);
    color: var(--black-200);
   

}
button:hover path {
    stroke: var(--black-200);

}
.skills-wrapper>div:hover {
    background-color: var(--black-200);
    color: var(--white-100);    

}
.skills-wrapper>div:hover p{
    color: var(--white-100);
    
}
.skills-wrapper>div:hover path {
    fill: var(--white-100);
    
    
}

button:hover path{
    stroke: var(--gray-200);

}
.project-wrapper>a:hover svg {
    width: 22px;
    height: 22px;


}
.project-wrapper>a:hover path {
    stroke: var(--white-300);
    
}